




<div class="bg"></div>
<div class="jumbotron">
  <div class="container">
  <div class="row">
  <h1></h1>
  <p style="color: #303030 "></p>
  <div class="col-md-10">
    <h1>專業監視器安裝/到府維修</h1>
    <hr>
    <h2 style="color: #B80000  ">24H安全守護</h2>
  </div>
  
  <div class="col-md-2  col-md-offset-10">
  <p class="down-lg"><%= link_to '馬上申請安裝', contact_us_path, class: 'btn btn-danger btn-lg'%></p>
  
  </div>



  </div>
</div>
</div>

<!--實機效果 

<a  name="services"></a>
    <div class="content-section-b">

        <div class="container">

              <div class="col-lg-12  text-left">
                <h1>實機效果</h1>
                <hr class="section-heading-spacer center">
              </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1  col-sm-6">
                    <br>
                    <%= image_tag("effect_show.gif") %>
                </div>
                <div class="col-lg-6 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2> AHD 960P 130萬畫素效果圖</h2><br>
                    <p>白天及夜晚效果圖</p>
                    <p>白天色彩飽和,晚上無雪花顆粒</p>
                    <p>還有百張效果圖</p><br>
                    <div class="row">
                    <div class="col-lg-offset-6"><p><%= link_to '瞭解更多', effects_path, class: 'btn btn-warning btn-lg btn-right' %></p></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div> 


<!--安裝案例 -->

<a  name="services"></a>
    <div class="content-section-b">

         <div class="container">
            <div class="row">
            <div class="col-lg-12  text-left">

                <hr class="section-heading-spacer center">
              </div>
               
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                         <%= image_tag("intro1.png") %>
                    </a>
                   
              
              </div>  
             
                
              </div>  
              <div class="row">
                <div class="col-md-8 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                          </div>
                        </div>
                         <%= image_tag("parking1.png") %>
                    </a>
                   
                </div>
            <div class="row">
                <div class="col-md-8 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                          </div>
                        </div>
                         <%= image_tag("home1.png") %>
                    </a>
                   
                </div>
               
              <div class="row">
                <div class="col-md-8 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                          </div>
                        </div>
                         <%= image_tag("store1.png") %>
                    </a>
                   
                </div>
              </div>  
              <br>   
                
        <!-- /.container -->

    </div>
     <div class="content-section-a">

        <div class="container">

              <div class="col-lg-12  text-left">
                <h1>客製化針孔</h1>
                <hr class="section-heading-spacer center">
              </div>
               <div class="col-md-5">     
                    <div class="clearfix"></div>
                   <h3 style="color:black">隱密性高，可安置在各式硬體</h3>
                   </div>
                 <div class="col-md-7">
                   <div class="row">
                      <div class="col-lg-8  col-sm-6">
                    <br>
                    <%= image_tag("2.png", :height => 500, :width => 500 ) %>
                </div>
              </div>
               <br>
           </div>
                  <br>
             
              <div class="col-lg-12  text-left">
                <h1>客製化偽裝監視器</h1>
                <hr class="section-heading-spacer center">
              </div>
               <div class="col-md-5">     
                    <div class="clearfix"></div>
                   <h3 style="color:black">市面上賣的都是已經做好的監視器，我們公司可以針對客戶需求量身定做，想藏在哪就裝在哪</h3>
                  <br>
              </div>
              <div class="col-md-7">
                   <div class="row">
                      <div class="col-lg-8  col-sm-6">
                    <br>
                    <%= image_tag("2.png", :height => 500, :width => 500 ) %>
                </div>
              </div>
               <br>
           </div>        
          </div>
        </div>


<!--服務項目 -->
<a  name="services"></a>
    <div class="content-section-b">

        <div class="container">

              <div class="col-lg-12  text-left">
                <h1>服務項目</h1>
                <hr class="section-heading-spacer center">
              </div>
               <div class="col-md-5">     
                    <div class="clearfix"></div>
                   <h2 style="color:black">1.客製化針孔(為客戶量身定做)</h2>
                   <h2>2.客製化偽裝監視器(隨客戶指定各種場所)</h2>
                   <h2>3.監控主機</h2>
                   <p>4路遠端監控主機、8路遠端監控主機、16路遠端監控主機</p>
                   <h2>4.數位監控卡</h2>
                   <p>4路影像擷取卡、8路影像擷取卡、16路影像擷取卡</p>
                   <h2>5.監視攝影機</h2>
                   <h4>......等等</h4>

                  <br>

                    <div class="col-md-6"><p><%= link_to '瞭解更多', offer_path, class: 'btn btn-warning btn-lg btn-right' %></p></div>



              </div>
              <div class="col-md-7">
                   <div class="row">
                      <div class="col-lg-8  col-sm-6">
                    <br>
                    <%= image_tag("2.png", :height => 500, :width => 500 ) %>
                </div>
              </div>
               <br>
                   

        </div>
        <!-- /.container -->

    </div>

<!--特惠方案 -->





















