

<% if current_user %>
<%= link_to '新增實機效果', new_effect_path, class: 'btn btn-info btn-lg' %>
<%end%>
    

<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">實機效果
                    <small>圖片都是真實照片不修圖</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!--迭代器 實機特效版 -->

    <% @effects.each_slice(3) do |effects| %>
     
        <div class="row">
         <% effects.each do |effect| %>
              <div class="col-md-4 effect-item">
                  <a href="#">
                    <%= image_tag effect.image.url(:medium) %>
                  </a>
                    <% if !current_user %>
                    <%else%>

                    <td><%= link_to '修改', edit_effect_path(effect) %></td>
                    <td><%= link_to '刪除', effect, method: :delete, data: { confirm: '你確定嗎?' } %></td>
                    <%end%>
              </div>
          <% end %>           
        </div>
      
    <%end %>

     
        <!-- /.row -->



        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <%= paginate @effects, :theme => 'bootstrap3'  %>
                    
                </ul>
            </div>

          <%= link_to '回到首頁', root_path, class: "btn btn-info btn-lg" %>

        </div>
      


        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


<br>
