
<%= form_for(@classification) do |f| %>
  <% if @classification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classification.errors.count, "error") %> prohibited this classification from being saved:</h2>

      <ul>
      <% @classification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-4 down-mid">
  <h1>新增產品類別</h1>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', placeholder: '輸入標題' %><br>
  </div>

  <div class="row">
  <div class="col-md-4">
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
    <hr>
    <%= link_to '回上頁', classifications_path %>
  </div>
  </div>  
  </div>
  </div>
<% end %>