<% if current_user %>
<%= link_to '新增產品', new_classification_item_path,class: "btn btn-info btn-lg" %>

<%end%>

<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @classification.title %>類
                    <small>精選產品</small>
                </h1>
            </div>
        </div>



      <div class="row">
      <% @items.each do |item| %>
      <div class="col-md-7">
       <%= image_tag item.image.url(:medium) %>
      </div>
      <div class="col-md-5"> 
       <h2><%= item.model_number %></h2>
       <h4><%= item.title %></h4>
       <p color="#480000 "><%= item.standard %></p>
      

        <% if !current_user %>
        <%else%>
        <%= link_to 'Edit', edit_classification_item_path(@classification,item) %>
        <%= link_to 'Destroy', classification_item_path(@classification,item), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
       </div> 
       </div>
              <hr>
      <% end %>

</div>


        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <%= paginate @items, :theme => 'bootstrap3'  %>
                    
                </ul>
            </div>

          <%= link_to '回上頁', items_list_all_path, class: "btn btn-info btn-lg" %>

        </div>

        



        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


<br>

