<p id="notice"><%= notice %></p>

<p>
  <strong>Model number:</strong>
  <%= @item.model_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @item.standard %>
</p>

<%= link_to 'Edit', edit_classification_item_path(@classification,@item) %> |
<%= link_to 'Back', classification_items_path(@classification) %>
