<% if current_user%>
<%= link_to '新增安裝範例', new_install_path, class: 'btn btn-info btn-lg' %>
<% end %>





<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">安裝案例
                    <small>台中各地區皆有安裝經驗</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
    <% @installs.each_slice(3) do |installs| %>
     
        <div class="row">
         <% installs.each do |install| %>
              <div class="col-md-4 effect-item">
                <a href="#">
                    <%= image_tag install.image.url(:medium) %>
                </a>
                <h3 style="color:#428bca">
                    <%= install.area %>
                </h3>
                <p><%= install.description %></p>
                    <% if !current_user %>
                    <%else%>
                    <td><%= link_to '修改', edit_install_path(install) %></td>
                    <td><%= link_to '刪除', install, method: :delete, data: { confirm: '你確定嗎?' } %></td>
                    <%end%>
              </div>
          <% end %>           
        </div>
      
    <%end %>


            <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <%= paginate @installs, :theme => 'bootstrap3'  %>
                </ul>
            </div>

          <%= link_to '回到首頁', root_path, class: "btn btn-info btn-lg" %>

        </div>
        <!-- /.row -->
      




        <!-- Footer -->
   

        

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


<br>
